/TruckInventoryManagement/obj
/TruckInventoryManagement/bin
/TruckInventoryManagement.Data/obj
/TruckInventoryManagement.Data/bin
/TruckInventoryManagement.Models/obj
/TruckInventoryManagement.Models/bin
/TruckInventoryManagement.Services/obj
/TruckInventoryManagement.Services/bin
/.vs/TruckInventoryManagement
