<div class="row">
    <div class="col-2"/>
    <div class="col-8">
        <div class="row">
            <div>
                <span>Chassis Number: </span>
                <input type="text" @bind="ChassisNumber" />
            </div>
        </div>
        <div class="row">
            <div>
                <span>Model Family: </span>
                <input type="text" @bind="ModelFamily" />
            </div>
        </div>
        <div class="row">
            <div>
                <span>Model Number: </span>
                <input type="text" @bind="ModelNumber" />
            </div>
        </div>
        <div class="row">
            <div>
                <span>Customer: </span>
                <input type="text" @bind="Customer" />
            </div>
        </div>
        <div class="row">
            <div style="margin-top: 20px;">
                <button class="btn btn-outline-info oi oi-check" @onclick="() => AddTruckToInventory()"/>
                <button class="btn btn-outline-danger oi oi-x" @onclick="() => CloseWindow()" />
            </div>
        </div>
    </div>
    <div class="col-2"/>
</div>