<div class="row">
    <div class="col"/>
        <div class="row">
            <div>
                <span>Are you sure you want to delete this truck?</span>
            </div>
        </div>
        <div class="row">
            <div style="margin-top: 20px;">
                <button class="btn btn-outline-info oi oi-check" @onclick="() => RemoveTruckFromInventory()"/>
                <button class="btn btn-outline-danger oi oi-x" @onclick="() => CloseWindow()" />
            </div>
        </div>
</div>

