@inherits LayoutComponentBase
<div class="top-row menu-background justify-content-start">
	@*	<div class="justify-content-start float-left" style="width: 15%">
 	<img src="/images/Leyland_Trucks_Logo_Small.png" class="img-fluid" style="margin-left: 15px;" />
 	</div>
 	<div class="bg-dark" style="width: 85%; height: 100%;">
 	</div>*@
	<img src="/images/Leyland_Trucks_Logo_Small.png" class="img-fluid" style="margin-left: 15px; margin-right: 20px;" />
	<div class="justify-content-center" style="padding: 12px 0px 0px 150px; font-size: 1.1rem;">
		<p>Leyland Truck Inventory Management System</p>
	</div>
</div>
<div class="page">
	<div class="main">
		<div class="content px-4">
			@Body
		</div>
	</div>
</div>